*{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  vertical-align: baseline;
  list-style-type: none;
  font-optical-sizing: auto;
  font-family: "Press Start 2P", system-ui;
}