/* Media Queries para ajustes específicos */
@media (max-width: 576px) { /* Telas menores que 576px */
  .panel {
    margin-top: 9rem;
  }
  .square {
    height: 35vw;
    width: 33vw;
  }
  
  .menu .value {
    font-size: 1rem;
  }
  
  .menu h2 {
    font-size: 1rem;
  }
  footer {
    margin: 0px;
    padding: 0px;
  }
  
  footer small {
    font-size: 0.775rem;
    padding: 2px;
  }
}

@media (min-width: 768px) { /* Telas maiores */
  .square {
    height: 150px;
    width: 150px;
  }
}