footer {
  padding: 0;
  width: 100%;
  background-color: rgba(var(--bg-footer-rgb), 0.5); 
  position: relative; 
  background-image: url('/src/assets/images/background/wall.png');
}

footer small {
  font-size: 0.875rem;
  text-align: center;
  padding: 1rem;
  margin: 0;
  color: white;
}